{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <h3>About Me </h3>
        <p>
          Welcome to Sharjeel's Blog! I’m Sharjeel Ahmed, a  student,  writer, and also related to some coding with
          a passionate for bloging, crafting compelling narratives, provide some information to peoples.
        </p>
        <h3>Why I Started This Blog</h3>
        <p>
          I created Sharjeel's Blog to share insights, tips, and strategies that I’ve learned throughout by seraching on google.
          My goal is to provide valuable resources for Mens styling , aspiring
          writers, peoples health and fitness. Whether you’re looking to enhance your skills or simply learn
          something new, I hope you find the content here both informative and inspiring.
        </p>
        <h3>What You Can Expect</h3>
        <p>On this blog, you will find  in-depth articles, case studies,how-to guides, expert interviews and more about
          your life. I strive to deliver high-quality, actionable content that you can apply
          to your own endeavors.</p>
        <p>Thank you for visiting Sharjeel's Blog. I look forward to embarking on this journey with you!</p
        <p> Best regards,</p>
        <p>Sharjeel Ahmed</p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
